<%- include("../partials/header") %>

<div class="container mt-5">
	<h1>Add New Comment to "<em><%= foundcamp.name %></em>"</h1>

	<form action="/camp/<%= foundcamp._id %>/comment" method="POST">
		<input class="form-control form-group" type="text" name="text" placeholder="text">
		<button class="form-control btn btn-primary">Submit!</button>
		<a href="/camp">Go Back To YelpCamp</a>
	</form>
</div>

<%- include("../partials/footer") %>