<%- include("partials/header") %>

<div class="container mt-5">
	<h1>Forgot Password</h1>

	<form action="/forgot" method="POST">
		<input class="form-control form-group" type="email" name="email" placeholder="enter email" autofocus>
		<button class="form-control btn btn-primary">Send Mail</button>
		<a href="/camp">Go Back To YelpCamp</a>
	</form>
</div>

<%- include("partials/footer") %>