<%- include("partials/header") %>

<div class="container mt-5">
	<h1>Forgot Password</h1>

	<form action="/reset/<%= token %>" method="POST">
		<input class="form-control form-group" type="password" name="password" placeholder="new password" autofocus>
		<input class="form-control form-group" type="password" name="confirm" placeholder="confirm password">
		<button class="form-control btn btn-primary">Reset Password</button>
		<a href="/camp">Go Back To YelpCamp</a>
	</form>
</div>

<%- include("partials/footer") %>