.container.mt-5{
	width:50%;
	display:block;
	margin:auto;
	text-align:center;
}

.comment_form{
	background-color:RGB(235, 251, 252);
}

.review_form{
	background-color:RGB(252, 242, 252);
}

.fa-campground{
	color:white;
	font-size:30px;
	margin-right:5px;
}

.fa-star{
	color:RGB(245, 233, 66);
}