<%- include("../partials/header") %>

<div class="container mt-5">
	<h1>Create Campground</h1>

	<form action="/camp" method="POST" enctype="multipart/form-data">
		<input class="form-control form-group" type="text" name="campground[name]" placeholder="name" required>
		<input class="form-control form-group" type="number" name="campground[price]" placeholder="price" required
			   min="0.01" step="0.01">
		<div class="form-group float-left">
            <label for="image">Campgtound Picture(Limited 4MB):</label>
            <input type="file" id="image" name="img" accept="image/*" required>
        </div>
		<input class="form-control form-group" type="text" name="campground[description]" placeholder="description">
		<button class="form-control btn btn-primary">Submit!</button>
		<a href="/camp">Go Back</a>
	</form>
</div>

<%- include("../partials/footer") %>